#PSGuidesUI {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 270px;
  padding: 0;
  font-size: 12px;
  z-index: 9999;
  color: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
          box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

#PSGuidesUI .-ps-wrapper {
  padding: 3px;
  background-color: rgba(255, 255, 255, .2);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#PSGuidesUI header,
#PSGuidesUI footer {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, .85);
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .9));
  background-image:    -moz-linear-gradient(top, transparent, rgba(0, 0, 0, .9));
  background-image:     -ms-linear-gradient(top, transparent, rgba(0, 0, 0, .9));
  background-image:      -o-linear-gradient(top, transparent, rgba(0, 0, 0, .9));
  background-image:         linear-gradient(top, transparent, rgba(0, 0, 0, .9));
}

#PSGuidesUI header {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}

#PSGuidesUI footer {
  border-top: 1px solid rgba(0, 0, 0, .5);
  -webkit-border-radius: 0 0 3px 3px;
     -moz-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
}

#PSGuidesUI h3 {
  font-size: 14px;
  font-weight: bold;
}

#PSGuidesUI h3 span {
  position: absolute; top: 15px; right: 15px; width: 12px; height: 12px;
  cursor: pointer; background: #444; text-indent: -9999px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .4));
  background-image:    -moz-linear-gradient(top, transparent, rgba(0, 0, 0, .4));
  background-image:     -ms-linear-gradient(top, transparent, rgba(0, 0, 0, .4));
  background-image:      -o-linear-gradient(top, transparent, rgba(0, 0, 0, .4));
  background-image:         linear-gradient(top, transparent, rgba(0, 0, 0, .5));
  border-radius: 50%;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, .2);
}

#PSGuidesUI .-ps-container {
  padding: 10px 20px;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  background-color: rgba(0, 0, 0, .8);
}

#PSGuidesUI label {
  display: block;
  margin: 7px 0;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

#PSGuidesUI .inst {
  font-size: 11px;
  font-weight: normal;
  color: rgba(255, 255, 255, .5);
  font-style: italic;
}

#PSGuidesUI .siteWidth,
#PSGuidesUI .vGuides {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding-bottom: 15px;
}

#PSGuidesUI .vGuides,
#PSGuidesUI .hGuides {
  border-top: 1px solid rgba(255, 255, 255, .1);
  padding-top: 5px;
}

#PSGuidesUI .hGuides {
  padding-bottom: 10px;
} 

#PSGuidesUI input[type="text"],
#PSGuidesUI textarea[type="text"] {
  display: block;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 5px;
  border: 1px solid #000;
  font-weight: bold;
  background-color: rgba(255, 255, 255, .8);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .2), 0 0 0 2px rgba(255, 255, 255, .15);
     -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, .2), 0 0 0 2px rgba(255, 255, 255, .15);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, .2), 0 0 0 2px rgba(255, 255, 255, .15);
}

#PSGuidesUI textarea[type="text"] {
  height: 90px;
  resize: vertical;
}

#PSGuidesUI input[type="text"]:focus,
#PSGuidesUI textarea[type="text"]:focus {
  outline: none; background-color: #fff;
}

#PSGuidesUI button[type='button'] {
  cursor: pointer; border: 1px solid rgba(0, 0, 0, .7);
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .2));
  background-image:    -moz-linear-gradient(top, transparent, rgba(0, 0, 0, .2));
  background-image:     -ms-linear-gradient(top, transparent, rgba(0, 0, 0, .2));
  background-image:      -o-linear-gradient(top, transparent, rgba(0, 0, 0, .2));
  background-image:         linear-gradient(top, transparent, rgba(0, 0, 0, .2));
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 0 2px rgba(255, 255, 255, .15), 0 2px 3px rgba(0, 0, 0, .3);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 0 2px rgba(255, 255, 255, .15), 0 2px 3px rgba(0, 0, 0, .3);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 0 2px rgba(255, 255, 255, .15), 0 2px 3px rgba(0, 0, 0, .3);
}
#PSGuidesUI button[type='button']:active {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 0 2px rgba(255, 255, 255, .15), inset 0 2px 3px rgba(0, 0, 0, .3);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 0 2px rgba(255, 255, 255, .15), inset 0 2px 3px rgba(0, 0, 0, .3);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3), inset 0 0 0 2px rgba(255, 255, 255, .15), inset 0 2px 3px rgba(0, 0, 0, .3);
}

#PSGuidesUI .-ps-btn {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #09f;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#PSGuidesUI .-ps-btn:hover {
  background-color: #0F8CFF;
}

#PSGuidesUI .-ps-btn:active {
  background-color: #0071E3;
}

#PSGuidesUI .siteWidth input[type="text"] {
  width: 130px; float: left; margin-right: 7px;
}
#PSGuidesUI .orientation button[type='button'] {
  padding: 6px 7px 7px; width: 27px; margin: 5px 0 0 0;
  background: #333; color: #fff;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
#PSGuidesUI .orientation button[type='button']:hover {background: #444}
#PSGuidesUI .orientation button[type='button']:active {background: #222}
#PSGuidesUI .orientation button[type='button'].active {background: #222; color: #09F; text-shadow: 0 0 2px #09F;
  -webkit-box-shadow: inset 0 2px 5px #000, 0 1px 0 rgba(255, 255, 255, .1);
     -moz-box-shadow: inset 0 2px 5px #000, 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 2px 5px #000, 0 1px 0 rgba(255, 255, 255, .1);
}

#PSGuidesUI,
#PSGuidesUI input,
#PSGuidesUI button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.-ps-clear::after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0}
.-ps-left {float: left}
.-ps-right {float: right}