@import 'normalize', 'colors', 'compass';

* {
  @include box-sizing(border-box);
}

body {
  font-size: 12px;
  line-height: 20px;

  background-color: $bg-color;
  color: $text-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: $link-color;
}

h1 {
  margin-bottom: 20px;
  font-size: 3em;
  line-height: 1.15em;
  font-weight: 200;
}

h2 {
  margin: 0 0 30px;
}

section {
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 3px solid darken( $bg-color, 3 );

  &:after {
    content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;
  }
  &:last-child {
    border-bottom-width: 0;
  }
}

.wrapper {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.button {
  display: inline-block;
  margin: 0 15px 0 0;
  font-size: 1.1em;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 3px;
  background-color: $link-color;
  color: $bg-color;
  @include transition( opacity 150ms ease );

  &:hover {
    opacity: .9;
  }

  span {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 5px;
  }

  &.secondary {
    box-shadow: inset 0 0 0 2px darken( $bg-color, 30 );
    background-color: transparent;
    color: $link-color;
  }
}

pre {
  font-size: 13px;
  line-height: 20px;
  padding: 15px 20px;
  margin: 20px 0 0;
  overflow: auto;

  background: $code-bg-color;
  color: $code-text-color;
  border-radius: 3px;
}

footer {
  margin: 100px 0 30px;
}


@media all and (max-width: 500px) {
  body {padding: 0 20px}
}
